<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Python312\python.exe|C:\inetpub\wwwroot\myapp\test.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
