<configuration>
  <system.webServer>
    <!-- Enable FastCGI Module -->
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\inetpub\wwwroot\myapp\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- Add FastCGI Configuration -->
    <fastCgi>
      <application fullPath="C:\Python39\python.exe" arguments="C:\inetpub\wwwroot\myapp\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="myapp.settings" />
          <environmentVariable name="WSGI_HANDLER" value="myapp.wsgi.application" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\myapp" />
        </environmentVariables>
      </application>
    </fastCgi>

    <!-- Specify Default Document -->
    <defaultDocument>
      <files>
        <add value="index.py" />
      </files>
    </defaultDocument>

    <!-- Error Pages -->
    <httpErrors errorMode="Detailed" />

    <!-- Directory Browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
